@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@font-face {
  font-family: "Gotham-Book";
  src: url("./fonts/Gotham-Book.otf") format("opentype");
  font-display: auto;
}
@font-face {
  font-family: "Gotham-Black";
  src: url("./fonts/Gotham-Black-Regular.ttf") format("opentype");
  font-display: auto;
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("./fonts/Gotham-Bold.otf") format("opentype");
  font-display: auto;
}
@keyframes es-slide-in {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#es-garnier.es-garnier {
  font-family: "Gotham-Book", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #111;
  background: #fff;
}
#es-garnier.es-garnier img {
  max-width: 100%;
}
#es-garnier.es-garnier * {
  box-sizing: border-box;
}
#es-garnier.es-garnier h2,
#es-garnier.es-garnier h3,
#es-garnier.es-garnier h4,
#es-garnier.es-garnier h5 {
  font-family: "Gotham-Book", Tahoma, Geneva, Verdana, sans-serif;
  color: #111;
}
#es-garnier.es-garnier .es-kv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 900px;
  margin: 0 auto;
}
#es-garnier.es-garnier .es-kv__womanBg {
  height: 100%;
}
#es-garnier.es-garnier .es-kv__ctn {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
#es-garnier.es-garnier .es-kv__ctn--main {
  justify-content: space-between;
  align-items: center;
}
#es-garnier.es-garnier .es-kv__logoCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
#es-garnier.es-garnier .es-kv__logoCtn::before {
  content: "nowość";
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #095b2e;
  color: #fff;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham-Bold";
}
#es-garnier.es-garnier .es-kv__bodyLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#es-garnier.es-garnier .es-kv__logo {
  max-width: 250px;
}
#es-garnier.es-garnier .es-kv__logo--superfood {
  max-width: 500px;
  opacity: 0;
  animation: es-slide-in 1s forwards;
  animation-delay: 0.8s;
}
#es-garnier.es-garnier .es-kv__logo--badge {
  width: 80px;
  height: 80px;
  opacity: 0;
  animation: es-slide-in 1s forwards;
  animation-delay: 0.8s;
}
#es-garnier.es-garnier .es-kv__packshotsCtn {
  display: flex;
  justify-content: center;
}
#es-garnier.es-garnier .es-kv__single {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
}
#es-garnier.es-garnier .es-kv__single--1 {
  animation: es-slide-in 0.5s forwards;
  animation-delay: 0.2s;
}
#es-garnier.es-garnier .es-kv__single--2 {
  animation: es-slide-in 0.5s forwards;
  animation-delay: 0.4s;
}
#es-garnier.es-garnier .es-kv__single--3 {
  animation: es-slide-in 0.5s forwards;
  animation-delay: 0.6s;
}
#es-garnier.es-garnier .es-kv__single--4 {
  animation: es-slide-in 0.5s forwards;
  animation-delay: 0.8s;
}
#es-garnier.es-garnier .es-kv__packshot {
  height: auto;
  min-height: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#es-garnier.es-garnier .es-kv__text {
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: "Gotham-Bold";
  color: #fff;
}
#es-garnier.es-garnier .es-kv__text--watermelon {
  background-color: #d85865;
}
#es-garnier.es-garnier .es-kv__text--aloe {
  background-color: #67c0b0;
}
#es-garnier.es-garnier .es-kv__text--avocado {
  background-color: #095b2e;
}
#es-garnier.es-garnier .es-kv__text--cocoa {
  background-color: #7d4b4b;
}
#es-garnier.es-garnier .es-green {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
#es-garnier.es-garnier .es-green__imgCtn {
  max-width: 400px;
}
#es-garnier.es-garnier .es-green__img {
  width: 100%;
  margin-bottom: -150px;
  margin-left: -50px;
}
#es-garnier.es-garnier .es-green__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
}
#es-garnier.es-garnier .es-green__titleCtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-garnier.es-garnier .es-green__line {
  height: 80px;
}
#es-garnier.es-garnier .es-green__title {
  text-transform: uppercase;
  color: #095b2e;
  font-family: "Gotham-Black";
  font-size: 20px;
}
#es-garnier.es-garnier .es-green__text {
  font-size: 15px;
}
#es-garnier.es-garnier .es-ingredients {
  padding: 16px;
}
#es-garnier.es-garnier .es-ingredients__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham-Black";
  font-size: 20px;
}
#es-garnier.es-garnier .es-ingredients__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#es-garnier.es-garnier .es-ingredients__packshot {
  position: relative;
}
#es-garnier.es-garnier .es-ingredients__packshot::before {
  content: "przed";
  text-transform: uppercase;
  font-family: "Gotham-Black";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
}
#es-garnier.es-garnier .es-ingredients__packshot::after {
  content: "po";
  text-transform: uppercase;
  font-family: "Gotham-Black";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
}
#es-garnier.es-garnier .es-ingredients__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 50px;
  margin-top: 40px;
}
#es-garnier.es-garnier .es-ingredients__img--packshot {
  max-width: 250px;
}
#es-garnier.es-garnier .es-ingredients__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
#es-garnier.es-garnier .es-ingredients__content p {
  color: #095b2e;
  font-family: "Gotham-Black";
  font-size: 25px;
  line-height: 0.9;
  text-transform: uppercase;
  position: relative;
}
#es-garnier.es-garnier .es-ingredients__cards {
  margin: 22px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 460px;
}
#es-garnier.es-garnier .es-ingredients__single {
  flex: 1;
  flex-basis: 50%;
  margin: 8px;
  max-width: 214px;
  min-height: 244px;
  padding: 8px;
  background: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.171);
  transition: all 0.3s ease-in-out;
}
#es-garnier.es-garnier .es-ingredients__single:hover {
  transform: scale(1.05);
}
#es-garnier.es-garnier .es-ingredients__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  padding-top: 16px;
  text-align: center;
}
#es-garnier.es-garnier .es-ingredients__text span {
  font-family: "Gotham-Bold";
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
}
#es-garnier.es-garnier .es-ingredients__cards {
  margin: 0;
  background: url(./img/leaf-icon.png) no-repeat center center;
  background-size: 220px;
}
#es-garnier.es-garnier .es-ingredients__cards .es-ingredients__single {
  opacity: 1;
}
#es-garnier.es-garnier .es-ingredients__cards:hover .es-ingredients__single {
  opacity: 0.8;
}
#es-garnier.es-garnier .es-ingredients__cards .es-ingredients__single:hover {
  opacity: 1;
}
#es-garnier.es-garnier .es-ingredients__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  font-size: 13px;
  text-align: center;
  width: 100%;
}
#es-garnier.es-garnier .es-benefits {
  margin: 50px 0;
}
#es-garnier.es-garnier .es-benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-garnier.es-garnier .es-benefits__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham-Black";
  font-size: 22px;
}
#es-garnier.es-garnier .es-benefits__package {
  padding: 20px 50px;
  background-color: #f3f3f3;
  min-width: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -50px;
  align-items: flex-start;
}
#es-garnier.es-garnier .es-benefits__single {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-garnier.es-garnier .es-benefits__single p {
  font-size: 12px;
}
#es-garnier.es-garnier .es-benefits__number {
  margin-right: 10px;
}
#es-garnier.es-garnier .es-benefits__packshotImg {
  max-width: 150px;
  margin-right: -50px;
  z-index: 10;
  position: relative;
}
#es-garnier.es-garnier .es-benefits__packshotImg:hover {
  transform: translateX(20px);
  transition: 0.5s ease;
}
#es-garnier.es-garnier .es-benefits__wrapper {
  position: relative;
  z-index: 1;
}
#es-garnier.es-garnier .es-benefits__wrapper img {
  max-width: 400px;
  z-index: 0;
  position: relative;
}
#es-garnier.es-garnier .es-benefits__elipsa {
  position: absolute;
  z-index: -10;
  width: 250px;
  height: 250px;
  background-color: #f3f3f3;
  border-radius: 50%;
  bottom: -120px;
  right: -100px;
}
#es-garnier.es-garnier .es-prepare {
  margin: 50px 10px;
}
#es-garnier.es-garnier .es-prepare__title {
  text-align: center;
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
#es-garnier.es-garnier .es-prepare__mainCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-garnier.es-garnier .es-prepare__single {
  width: 280px;
  min-height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#es-garnier.es-garnier .es-prepare__imgCtn {
  width: 220px;
  height: 220px;
}
#es-garnier.es-garnier .es-prepare__img {
  width: 100%;
  height: 100%;
}
#es-garnier.es-garnier .es-prepare__step {
  font-family: "Gotham-Bold";
  margin-top: 40px;
}
#es-garnier.es-garnier .es-prepare__desc {
  margin-top: -10px;
  font-size: 14px;
  max-width: 250px;
  min-height: 50px;
}
#es-garnier.es-garnier .es-eco {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#es-garnier.es-garnier .es-eco__imgCtn {
  max-width: 400px;
}
#es-garnier.es-garnier .es-eco__img {
  width: 100%;
}
#es-garnier.es-garnier .es-eco__title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Gotham-Black";
  font-size: 18px;
  margin-bottom: 20px;
}
#es-garnier.es-garnier .es-eco__single {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#es-garnier.es-garnier .es-eco__icon {
  width: 40px;
  margin: 0 10px;
}
#es-garnier.es-garnier .es-eco__text {
  width: 300px;
}
#es-garnier.es-garnier .es-eco__text span {
  font-family: "Gotham-Bold";
}
#es-garnier.es-garnier .es-cross {
  margin: 20px 0;
}
#es-garnier.es-garnier .es-cross__title {
  text-align: center;
  font-family: "Gotham-Black";
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
#es-garnier.es-garnier .es-cross__Ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-garnier.es-garnier .es-cross__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  margin: 10px;
}
#es-garnier.es-garnier .es-cross__name {
  text-align: center;
  font-family: "Gotham-Bold";
}
#es-garnier.es-garnier .es-cross__name--pink {
  color: #d85865;
}
#es-garnier.es-garnier .es-cross__name--blue {
  color: #67c0b0;
}
#es-garnier.es-garnier .es-cross__name--green {
  color: #095b2e;
}
#es-garnier.es-garnier .es-cross__name--brown {
  color: #7d4b4b;
}
#es-garnier.es-garnier .es-cross__subtitle {
  text-align: center;
  font-family: "Gotham-Bold";
}
#es-garnier.es-garnier .es-cross__desc {
  text-align: center;
  font-size: 14px;
}
#es-garnier.es-garnier .es-cross__drops {
  display: block;
  margin: 10px auto;
}
#es-garnier.es-garnier .es-cross__link {
  text-decoration: none;
  text-align: center;
  font-family: "Gotham-Bold";
  width: 100%;
  margin: 10px 0;
  padding: 5px 40px;
  border-radius: 10px;
  color: #fff;
  transition: 0.4s ease-in-out;
}
#es-garnier.es-garnier .es-cross__link--pink {
  background-color: #d85865;
}
#es-garnier.es-garnier .es-cross__link--pink:hover {
  color: #d85865;
  outline: 3px solid #d85865;
  background-color: #fff;
}
#es-garnier.es-garnier .es-cross__link--blue {
  background-color: #67c0b0;
}
#es-garnier.es-garnier .es-cross__link--blue:hover {
  color: #67c0b0;
  outline: 3px solid #67c0b0;
  background-color: #fff;
}
#es-garnier.es-garnier .es-cross__link--green {
  background-color: #095b2e;
}
#es-garnier.es-garnier .es-cross__link--green:hover {
  color: #095b2e;
  outline: 3px solid #095b2e;
  background-color: #fff;
}
#es-garnier.es-garnier .es-cross__link--brown {
  background-color: #7d4b4b;
}
#es-garnier.es-garnier .es-cross__link--brown:hover {
  color: #7d4b4b;
  outline: 3px solid #7d4b4b;
  background-color: #fff;
}
#es-garnier.es-garnier .es-cross__imgCtn {
  width: 100%;
}
#es-garnier.es-garnier .es-cross__imgCtn img {
  width: auto;
  height: 250px;
  display: block;
  margin: 0 auto;
}
#es-garnier.es-garnier .es-claims {
  text-align: center;
  margin: 40px 0;
}
#es-garnier.es-garnier .es-claims__text {
  font-size: 11px;
  margin: 5px 0;
  padding: 0;
}
#es-garnier.es-garnier .es-footer {
  width: 100%;
  margin: 0;
}
#es-garnier.es-garnier .es-footer img {
  max-width: 100%;
}

@media (max-width: 900px) {
  #es-garnier.es-garnier .es-kv__ctn--woman {
    display: none;
  }
}
@media (max-width: 650px) {
  #es-garnier.es-garnier .es-kv__ctn--woman {
    display: none;
  }
  #es-garnier.es-garnier .es-kv__logo {
    max-width: 200px;
  }
  #es-garnier.es-garnier .es-kv__logo--superfood {
    max-width: 300px;
  }
  #es-garnier.es-garnier .es-kv__single {
    width: 100px;
  }
  #es-garnier.es-garnier .es-kv__packshot {
    min-height: 180px;
    height: 100px;
  }
  #es-garnier.es-garnier .es-kv__text {
    font-size: 9px;
  }
  #es-garnier.es-garnier .es-green__imgCtn {
    max-width: 300px;
  }
  #es-garnier.es-garnier .es-green__img {
    margin-left: 0;
    margin-bottom: 0;
  }
  #es-garnier.es-garnier .es-green__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }
  #es-garnier.es-garnier .es-ingredients {
    background-image: none;
  }
  #es-garnier.es-garnier .es-ingredients__packshot {
    margin-bottom: 80px;
  }
  #es-garnier.es-garnier .es-prepare__desc {
    font-size: 14px;
  }
  #es-garnier.es-garnier .es-prepare__single {
    align-items: center;
    justify-content: center;
  }
  #es-garnier.es-garnier .es-benefits__package {
    margin-right: 0;
    width: 100%;
  }
  #es-garnier.es-garnier .es-benefits__packshotImg {
    display: none;
  }
  #es-garnier.es-garnier .es-eco__line {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */